/*-- scss:defaults --*/
// Base document colors
$link-color: #bfb900;
$navbar-bg: rgb(239,239,239);
$toc-font-size: 12px;
$body-bg: #f6f6f6;
$code-block-bg-alpha: -.8;
$dropdown-bg: $body-bg;
$navbar-hl: #bfb900;
$input-bg:white;
$dropdown-link-hover-bg:#e8e6be;
$dropdown-link-active-bg:#bfb900;