/*-- scss:defaults --*/
// Base document colors

$body-bg: #181818;
$body-color: white;
$link-color: #934dbe;
$navbar-bg: rgb(11,11,11);
$toc-font-size: 12px;
$code-block-bg-alpha: -.8;
$dropdown-bg: $body-bg;
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: $gray-600;
$dropdown-link-hover-color: white;
$navbar-hl: #934dbe; 
$input-bg:white;
$dropdown-link-hover-bg:#2d133d;
$dropdown-link-active-bg:#934dbe;