/* css styles */
.tr{
  background-color: rgba(255, 255, 255, 0);
  border: 3px #00000000;
  justify-content: center;
  align-items: center;
}
.th{
  justify-content: center;
  align-items: center;
}
.table1{
  width: 100%;
}
img{
  width: 200px;
  align-self: center;
  transition: transform .1s;
  }
img:hover{
  transform: scale(1.1);
}
